
<main data-variant="icons" id="page-icons-library">
    <webdiv-library-layout class="slim-scrollbars">
        <div id="container" class=" ">
            <div class="sidebar">
                <webdiv-library-sidebar>
                    <div id="category-container">
                        <div class="category"><strong>Choose category</strong></div>
                        <div id="category-tree"></div>
                    </div>
                </webdiv-library-sidebar>
            </div>
            <div class="main">
                <div class="body" style="padding: 0px !important;">
                    <webdiv-library-icons actions="favorite" slot="main">
                        <div id="container">
                            <div id="iconlistarea">
                                <div class="search-container">
                                    <div class="op-search-input">
                                        <span>Search:</span>
                                        <input class="op-search-input text" id="search-icon-input" type="search" placeholder="keywords" style="cursor: zoom-out;">
                                    </div>
                                    <div class="op-search-icon">
                                        <button type="button" class="btn-filter" tabindex="0">Search</button>    
                                    </div>
                                </div>
                                <div class="icon-header">
                                    <span id="cattitle"></span>
                                    <slot name="actions"></slot>
                                </div>
                                <div class="icons">

                                </div>
                            </div>
                        </div>
                    </webdiv-library-icons>
                </div>
                <div class="footer">
                    <webdiv-library-tabs class="bottom"></webdiv-library-tabs>
                </div>
            </div>
            <div class="editor">
                <webdiv-library-editor slot="editor">
                    <div class="container disabled" id="editordiv">
                        <div class="preview">
                            <div class="icon">
                                <webdiv class="icon-placeholder" trigger="loop" icon="editor-select-icon">
                                    <div class="previcon" id="previcon"><!--img src="images/icons/1.jpg" alt=""--></div>
                                </webdiv>
                            </div>
                            <div class="actions">
                            </div>
                        </div>
                        <div class="content">
                            <div class="lbl lbl-animation" style="margin-left:7px;">Animation Trigger</div>
                            <select id="animated-icon-trigger">
                                <option value="loop" data-description="Loops for ever.">Loop</option>
                                <option value="hover" data-description="Animates on hover">Hover</option>
                                <option value="click" data-description="Loops for ever.">Click</option>
                                <option value="loop-on-hover" data-description="Loops for ever.">Loop on Hover</option>
                                <option value="morph" data-description="Loops for ever.">Morph</option>
                                <option value="morph-two-way" data-description="Loops for ever.">Morph two way</option>
                            </select>
                            <div class="editor">
                                <div class="lbl">Colors</div>
                                <div id="colors-list">
                                    <div id="colors">
                                        <input type='text' id="primary-color"/>
                                        <input type='text' id="secondary-color"/>
                                    </div>
                                </div>
                            </div>

                            <div class="editor">
                                <div class="lbl">Stroke</div>
                                <div class="slidecontainer">
                                    <input type="range" min="1" max="100" value="50" class="slider" id="stroke-range">
                                    <div id="input" type="number" suffix="%">
                                        <div id="value">
                                   <span>
                                      <!----><!---->
                                   </span>
                                            <input id="stroke-width" type="text" value="50">
                                            <span>
                                      <!---->%<!---->
                                   </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if devMode %}
                            <div class="btns" style="text-align:center;flex: 1;flex-basis: auto;margin:20px 0;">
                                <button style="width:75%;margin-left:0px !important" type="button" class="btn-filter" id="copy-code" tabindex="0">Copy HTML Code</button>
                                <span class="info op-tooltip" style="vertical-align: middle !important;"> <p>This option is not available in production environment</p></span>
                            </div>
                        {% endif %}

                    </div>
                </webdiv-library-editor>
            </div>
            <div class="mask"></div>
        </div>
    </webdiv-library-layout>
</main>
