{% extends "one-plugin-media/_layouts/elementindex" %}

{% set title = "SVG Icons Packs"|t('one-plugin-media') %}
{% set crumbs = [
    { label: settings.pluginName, url: url("one-plugin-media") },
    { label: "SVG Icons Packs"|t("one-plugin-media"), url: url("one-plugin-media/galleries") },
]
%}
{% set elementType = 'oneplugin\\onepluginmedia\\elements\\SVGIconPack' %}
{% set selectedSubnavItem = 'svg-icon-packs' %}
{% block actionButton %}
    <div class="buttons">
        <a id="create-new-svg-icon-pack" class="btn submit add icon" href="{{ url('one-plugin-media/svg-icons/new') }}">{{ "New SVG Icon Pack"|t('one-plugin-media') }}</a>
    </div>
{% endblock %}


{% css %}
    .element.small.hasstatus
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}
